
{% extends "base.html" %}

{% block title %}Create{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css">
{% endblock %}

{% block content %}
    <div class='container'>

        <h2>Add a new recipe down below!</h2>
        
        <form action='/create' method="POST" enctype='multipart/form-data'>
        
            <div class='form-group pb-2'>
                <label for='recipeName'>Recipe Name:</label>
                <input class='form-control input-sm' type='text' name ='recipeName' required>
            </div>

            <div class='form-group pb-2'>
                <label>Recipe Type:</label><br>

                <input type="radio" class="btn-check" name="entryType" value='typed' id="typed" autocomplete="off" checked>
                <label class="btn btn-outline-secondary" for="typed">Typed Recipe</label>
                <input type="radio" class="btn-check" name="entryType" value='file' id="file" autocomplete="off">
                <label class="btn btn-outline-secondary" for="file">Upload File (PDF or image)</label>
            </div>

            <div class='form-group pb-2'>
                <label for='desc'>Description:</label>
                <textarea class='form-control input-sm' type='text' name ='desc' required></textarea>
            </div>

            <div id='typedInputs'>
                <div class='form-group pb-2'>
                    <label for='ingredients'>Add ingredients:</label>
                    <textarea class='form-control input-sm' name='ingredients' rows='5' required></textarea>
                    <span class='form-text'>Add ingredients as "Quantity | Ingredient"</span>
                </div>
                    
                <div class='form-group pb-2'>
                    <label for='procedures'>Add procedures:</label>
                    <textarea class='form-control input-sm' name='procedures' rows='5' required></textarea>
                    <span class='form-text'>Start each new procedure on a new line. Don't number them.</span>
                </div>
            </div>

            <div id='fileInputs' style="display: none;">
                <label for='fileUpload'>Upload a PDF or image:</label>
                <input type='file' name='fileUpload' accept='.pdf,image/*' required>
                <br>
            </div>
                
               
            <div class='form-group pb-2'>
                <label for="tips">Add tips or advice:</label>
                <textarea class='form-control input-sm' name='tips' rows='5'></textarea>
                <span class='form-text'>Start each new tip on a new line. Don't number them.</span>
            </div>

            <div class='form-group pb-2'>
                <label for='tags'>Tag your recipe:</label>
                <input class='form-control input-sm' id='tags' name='tags' placeholder='          '>
                <span class='form-text'>Add tags like Dessert, Italian, Quick etc. Contact support if you want more tag options! Please try to stick to the tags given.</span>
            </div>

            <br>
            <div class="form-group pb-2">
                <label>Select recipe visibility</label><br>
                <span class='form-text'>Setting the recipe type as "public" makes it visible on the community page.</span>
                <br><br>
                <input type="radio" class="btn-check" name="vis" id="public" autocomplete="off" checked>
                <label class="btn btn-outline-secondary" for="public">Public</label>
                <input type="radio" class="btn-check" name="vis" id="private" autocomplete="off">
                <label class="btn btn-outline-secondary" for="private">Private</label>
            </div>
                <br><br>

                <button class='btn btn-dark' type="submit">Submit</button>
        
        </form>
    </div>
    <br><br>
{% endblock %}

{% block extra_scripts %} 
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
    <script>
        const input = document.querySelector('input[name=tags]');

        // Load tag options
        fetch('/static/tags.json')
            .then(response => response.json())
            .then(tagList => {
                //init tagify w loaded tag list
                new Tagify(input, {
                    whitelist: tagList,
                    dropdown: {
                        enabled: 1,
                        maxItems: 10,
                        position: 'auto'
                    },
                    maxtags: 10
                });
            })
            .catch(err => {
                console.error("Failed to load tag list:", err);
            });
    </script>
    <script>
        const radios = document.getElementsByName('entryType');
        const typedInputs = document.getElementById('typedInputs');
        const fileInputs = document.getElementById('fileInputs');

        for (let i=0; i < radios.length; i++) {
            radios[i].addEventListener('change', function () {
                if (this.value === 'typed') {
                    typedInputs.style.display = 'block';
                    fileInputs.style.display = 'none';

                    //enable typed inputs 
                    typedInputs.querySelectorAll('textarea, input').forEach(el => el.disabled = false);
                    //disable file inputs
                    fileInputs.querySelectorAll('input').forEach(el => el.disabled = true);
                } else {
                    typedInputs.style.display = 'none';
                    fileInputs.style.display = 'block';

                    //disable typed inputs 
                    typedInputs.querySelectorAll('textarea, input').forEach(el => el.disabled = true);
                    //enable file inputs
                    fileInputs.querySelectorAll('input').forEach(el => el.disabled = false);
                }
            });
        }
    </script>
{% endblock %}
